body {
  margin: 0;
  padding: 0;
  background: #EFEFEF;
  font-family: 'News Cycle', sans-serif;
}

.header {
  text-align: center;
  background: #FEFEFE;
  padding-top: 1em;
}

.nav {
  background: #424242;
  padding: 8px 0 12px 0;
}

.nav a {
  margin: 0 1em;
  color: #EFEFEF;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.logo {
  display: block;
  width: 200px;
  margin: 0 auto 1em auto;
}  

.content {
  width: 800px;
  margin: 0 auto;
  background: #FEFEFE;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
}

.footer { 
  width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 0 0 0.67em 0;
}

.badge {
  position: absolute;
  top: 4px;
  left: 4px;
}

.content p:first-child {
  margin-top: -12px;
}
 
pre {
  margin: 0;
}

.meta {
  float: right;
}

p > code {
  color: #323232;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2px;
}