body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #EFEFEF;
  font-family: 'News Cycle', sans-serif;
  color: #424242;
}

.header {
  text-align: center;
  background: #FEFEFE;
  padding-top: 1em;
}

.logo {
  display: block;
  width: 200px;
  margin: 0 auto 1em auto;
}  

.content {
  background: #FEFEFE; 
  padding: 24px;
  margin-bottom: 24px;
  position: relative;
}

.footer { 
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 24px 0;
  text-align: right;
}

h2:first-child {
  margin-top: 6px;
  margin-bottom: 1em;
}

.badge {
  position: absolute;
  top: 4px;
  left: 4px;
}

.content > p:nth-child(0n + 2) {
  margin-top: -8px;
}

.content p:last-child {
  margin-bottom: 0px;
}
 
pre {
  margin: 0;
}

.meta {
  float: right;
}

p {
  font-size: 18px;
  text-align: justify;
}

p, h1, h2, h3 {
  font-family: 'Istok Web', sans-serif;
}

h2, h3 {
  font-size: 26px;
  font-family: sans-serif;
}

h2:before {
  content: "# "
}

h3:before {
  content: "## "
}

ul {
  font-size: 16px;
}

p > code,
li > code {
  font-size: 13px;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 3px;
  padding: 1px 2px;
  margin: 0 1px;
  position: relative;
  bottom: 2px;
}

.news-item {
  font-size: 16px;
}

.date {
  margin-left: 4px;
  color: #424242;
  font-size: 80%;
}

ul {
  margin-top: 0;
}

ul ul {
  padding-left: 1.25em;
}

.operations td {
  width: 266px;
  padding: 0.5em 0;
  text-align: center;
  height: 160px;
}

.operations a {
  text-decoration: none;
  font-family: 'Istok Web', sans-serif;
  font-size: 24px;
  color: #00A6FF;
}

.operations a:hover {
  text-decoration: underline;
}

.operations td img {
}

img.unimplemented {
  opacity: 0.25;
}

.overview-list {
  list-style: none;
  padding: 0;
  font-size: 42px;
  text-align: center;
}

.bitcoin {
  font-family: mono;
  color: #525252;
  letter-spacing: 2px;
  text-align: center;
}

.copy {
  opacity: 0.5;
  position: relative;
  top: 2px;
  left: 4px;
}
